.form-container{
margin: 130px auto;
max-width: 80%;
;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}