<div class="row home-container" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col-6">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Caravans</mat-card-title>
            </mat-card-header>
            <img routerLink="/caravans" class="card-image" mat-card-image src="../../assets/caravanBanner.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Book best caravans that suits your vacation
              </p>
            </mat-card-content>
          </mat-card>
          
    </div>
    <div class="col-6">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Yachts</mat-card-title>
              </mat-card-header>
            <img routerLink="/yachts" class="card-image" mat-card-image src="../../assets/yachtBanner.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Book best yachts that suits your vacation
              </p>
            </mat-card-content>
          </mat-card>
          
    </div>
</div>