.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container {
    position: absolute;
    top: 80px;
    bottom: 100px;
    left: 0;
    right: 0;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  
  .homepage{
    margin-left: 100px;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }
  