.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("../../assets/yachtBanner.jpg");
    background-size: cover;
  }

  .card-image{
    width: 400px;
    height: 300px;
  }
  